@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MadeOuter;
  src: url('../src/assets/font/made_outer_sans/MADE Outer Sans Regular PERSONAL USE.otf') format('opentype');
}
@font-face {
  font-family: MadeOuterLight;
  src: url('../src/assets/font/made_outer_sans/MADE Outer Sans Light PERSONAL USE.otf') format('opentype');
}

@font-face {
  font-family: MadeOuterMedium;
  src: url('../src/assets/font/made_outer_sans/MADE Outer Sans Medium PERSONAL USE.otf') format('opentype');
}

@font-face {
  font-family: MadeOuterBold;
  src: url('../src/assets/font/made_outer_sans/MADE Outer Sans Bold PERSONAL USE.otf') format('opentype');
}

.trainer-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 20%),
    linear-gradient(-90deg, black 0%, rgba(0, 0, 0, 0) 40%), 
    linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 20%),
    linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 20%);
}
